.tachyon-grid {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border: solid 1px #000000;
    overflow: hidden;
    box-sizing: border-box;
    outline: none;
}

.tachyon-grid .tachyon-group-header {
    position: relative;
    width: 100%;
    user-select: none;
    -ms-user-select: none;
    border-bottom: 1px solid #000000;
    min-height: 30px;
    overflow: hidden;
}

.tachyon-grid .tachyon-group-body {
    position: relative;
    width: 100%;
    height: 100%;
    user-select: none;
    -ms-user-select: none;
    outline: none;
}

.tachyon-grid .header-cell {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: #FFFFFF;
    overflow: hidden;
}

.tachyon-grid .grid-cell {
    box-sizing: border-box;
    position: absolute;
    overflow: hidden;
    padding: 0 3px;
}

.tachyon-grid .grid-cell.v-t {
}

.tachyon-grid .grid-cell.v-c {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tachyon-grid .grid-cell.v-b {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.tachyon-grid .grid-cell.h-l {
}

.tachyon-grid .grid-cell.h-c {
    justify-content: center;
}

.tachyon-grid .grid-cell.h-r {
    justify-content: flex-end;
}

.tachyon-grid .tachyon-group-overlay {
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.2);
}

.tachyon-grid .tachyon-scroller {
    position: relative;
    width: 100%;
}

.tachyon-grid .tachyon-scroll-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.tachyon-grid .tachyon-scroll-viewport {
    position: absolute;
    padding: 0;
    margin: 0;
    min-height: 1px;
    overflow: hidden;
}

.tachyon-grid .tachyon-scroll-content {
    position: absolute;
    top: 0;
    left: 0;
}

.tachyon-grid .tachyon-layer-background,
.tachyon-grid .tachyon-layer-selection,
.tachyon-grid .tachyon-layer-renderer,
.tachyon-grid .tachyon-layer-separator {
    position: absolute;
}

.tachyon-grid .tachyon-layer-separator {
    pointer-events: none;
}

.tachyon-grid .tachyon-layer-background .canvas,
.tachyon-grid .tachyon-layer-selection .canvas,
.tachyon-grid .tachyon-layer-renderer .canvas,
.tachyon-grid .tachyon-layer-separator .canvas {
    position: absolute;
    display: block;
    pointer-events: none;
}

.tachyon-grid .tachyon-section {
    position: absolute;
    overflow: hidden;
}

.tachyon-grid .tachyon-section.overlay {
    position: absolute;
    overflow: hidden;
    pointer-events: none;
}

.tachyon-grid .tachyon-section.overlay > * {
    pointer-events: auto;
}

.tachyon-grid .tachyon-header-drag {
    background-color: #000000;
    opacity: 0.3;
}

.tachyon-grid .tachyon-editor {
    position: absolute;
    box-sizing: border-box;
}

.tachyon-grid .header-cell-dragging {
    pointer-events: auto;
    border: 1px solid red;
    box-sizing: border-box;
}

.tachyon-tree-grid-wrapper .tachyon-tree__item {
    box-sizing: border-box;
    position: absolute !important;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
