/* point color */

/* btn */
.com-btns-icon{display: flex;align-items: center;gap: 16px;}
.com-btns-icon button{padding:10px;background-color:var(--com-btns-icon-bg);border-radius:var(--com-btns-icon-radius);}
.com-btns-icon.column{flex-direction: column;}
.com-zoom-in-out{margin-top:16px;background-color: #fff;border-radius: 8px;}
.com-zoom-in-out .graph{position: relative;width:6px;height:77px;margin:0 auto;background-color: #646669;border-radius: 8px;overflow: hidden;}
.com-zoom-in-out .graph span{position: absolute;left:0;right:0;bottom:0;background-color:#1781F4;}
.com-zoom-in-out button{display: flex;align-items: center;justify-content: center;width:100%;height:40px;}
.com-zoom-in-out .btn-in{}
.com-zoom-in-out .btn-out{}

/* tab */
.com-tab-1{display:inline-flex;align-items: center;height:48px;gap: 8px;padding:8px;color: var(--com-tab-1-text);background-color: var(--com-tab-1-bg);border-radius: var(--com-tab-1-radius);}
.com-tab-1 button{display: flex;align-items: center;justify-content: center;height:100%;padding:0 18px;font-weight:600;}
.com-tab-1 button[selected]{background-color:var(--com-tab-1-selected-bg);border:var(--com-tab-1-selected-border);border-radius: var(--com-tab-1-selected-radius);box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);}

/* checkbox, radio, switch */
.com-switch-1{display:inline-block;vertical-align: middle;}
.com-switch-1 .com-switch__input{position: absolute;width:1px;height:1px;opacity: 0.00001;}
.com-switch-1 .com-switch__label{position: relative;display:flex;align-items: center;width:30px;height:16px;padding:0 3px;border-radius:30px;background-color:var(--com-switch-1-bg);}
.com-switch-1 .com-switch__label:before{content:'';display:inline-block;vertical-align: middle;width:12px;height:12px;border-radius: 12px;background-color:var(--com-switch-1-bar);transform: translateX(0);}
.com-switch-1 .com-switch__input:checked + .com-switch__label{background-color: var(--com-switch-1-selected-bg); }
.com-switch-1 .com-switch__input:checked + .com-switch__label:before{transform: translateX(100%);}

.com-eye-toggle .com-eye-toggle__input{position: absolute;width:1px;height:1px;opacity: 0.00001;}
.com-eye-toggle .com-eye-toggle__label{}
.com-eye-toggle .com-eye-toggle__label:before{content:'';display:inline-block;vertical-align: middle;width:16px;height:16px;background:url('../images/svg/eye-off.svg') 0 0 no-repeat;}
.com-eye-toggle .com-eye-toggle__input:checked + .com-eye-toggle__label{}
.com-eye-toggle .com-eye-toggle__input:checked + .com-eye-toggle__label:before{background-image: url('../images/svg/eye.svg');}
.com-eyes{background-color: var(--color-white);border: 1px solid #dddede;border-radius:8px;padding-top:4px;padding-bottom:4px;}
.com-eyes__item{display: flex;align-items: center;padding:8px 16px;}
.com-eyes__item .label{flex:1;font-weight: 500;font-size:12px;color:var(--color-primary);}
.com-eyes__item .com-eye-toggle{flex:none;cursor: pointer;}

/* com-select-calendar */
.com-select-calendar{display: inline-flex;align-items: center;justify-content: center;height:48px;padding:0 24px;font-weight: 600;text-align: center;background-color: var(--com-select-calendar-bg);border-radius: var(--com-select-calendar-radius);cursor: pointer;}

/* calendar */
.calendar{height:auto !important; display:flex !important; flex-direction: column; padding: 20px 0}
.calendar .calendar-head .close{position:absolute;right:0;bottom:20px;font-size:0 !important; line-height:0 !important;}
.calendar .calendar-head .close:before{content: '취소'; display:block; padding:5px 10px; background:#eee; font-size:14px !important; line-height:14px !important;}
.calendar .calendar-wrap,
.calendar .calendar-range{width:100% !important; float: none !important; }
.calendar .calendar-wrap{display:flex !important;}
.calendar .calendar-wrap > div{float: none !important; flex:1}
.calendar .calendar_preset{display:flex;}
.calendar .calendar-btn-apply{width:auto !important; position:absolute;right:50px;bottom:20px;}
.calendar .calendar_preset li.calendar_preset-ranges{padding: 0 10px !important;}