/* point color */
.color-point-1{color:var(--color-point-1); }


.calendar{height:auto !important; display:flex !important; flex-direction: column; padding: 20px 0}
.calendar .calendar-head .close{position:absolute;right:0;bottom:20px;font-size:0 !important; line-height:0 !important;}
.calendar .calendar-head .close:before{content: '취소'; display:block; padding:5px 10px; background:#eee; font-size:14px !important; line-height:14px !important;}
.calendar .calendar-wrap,
.calendar .calendar-range{width:100% !important; float: none !important; }
.calendar .calendar-wrap{display:flex !important;}
.calendar .calendar-wrap > div{float: none !important; flex:1}
.calendar .calendar_preset{display:flex;}
.calendar .calendar-btn-apply{width:auto !important; position:absolute;right:50px;bottom:20px;}
.calendar .calendar_preset li.calendar_preset-ranges{padding: 0 10px !important;}