/* point color */

/* btn */
.com-btns-icon{display: flex;align-items: center;gap: 16px;}
.com-btns-icon button{padding:10px;background-color:var(--com-btns-icon-bg);border-radius:var(--com-btns-icon-radius);}
.com-btns-icon.column{flex-direction: column;}
.com-zoom-in-out{margin-top:16px;background-color: #fff;border-radius: 8px;}
.com-zoom-in-out .graph{position: relative;width:6px;height:77px;margin:0 auto;background-color: #646669;border-radius: 8px;overflow: hidden;}
.com-zoom-in-out .graph span{position: absolute;left:0;right:0;bottom:0;background-color:#1781F4;}
.com-zoom-in-out button{display: flex;align-items: center;justify-content: center;width:100%;height:40px;}
.com-zoom-in-out .btn-in{}
.com-zoom-in-out .btn-out{}
.com-btns-line button{font-size:12px;color:var(--color-primary);line-height:14px; min-width:56px; min-height:24px; padding:2px 10px; border: 1px solid #CDCDCD; border-radius: 16px;}

/* tab */
.com-tab-1{display:inline-flex;align-items: center;height:48px;gap: 8px;padding:8px;color: var(--com-tab-1-text);background-color: var(--com-tab-1-bg);border-radius: var(--com-tab-1-radius);}
.com-tab-1 button{display: flex;align-items: center;justify-content: center;height:100%;padding:0 18px;font-weight:600;}
.com-tab-1 button[selected]{background-color:var(--com-tab-1-selected-bg);border:var(--com-tab-1-selected-border);border-radius: var(--com-tab-1-selected-radius);box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);}

/* checkbox, radio, switch */
.com-switch-1{display:inline-block;vertical-align: middle;}
.com-switch-1 .com-switch__input{position: absolute;width:1px;height:1px;opacity: 0.00001;}
.com-switch-1 .com-switch__label{position: relative;display:flex;align-items: center;width:30px;height:16px;padding:0 3px;border-radius:30px;background-color:var(--com-switch-1-bg);}
.com-switch-1 .com-switch__label:before{content:'';display:inline-block;vertical-align: middle;width:12px;height:12px;border-radius: 12px;background-color:var(--com-switch-1-bar);transform: translateX(0);}
.com-switch-1 .com-switch__input:checked + .com-switch__label{background-color: var(--com-switch-1-selected-bg); }
.com-switch-1 .com-switch__input:checked + .com-switch__label:before{transform: translateX(100%);}

.com-eye-toggle .com-eye-toggle__input{position: absolute;width:1px;height:1px;opacity: 0.00001;}
.com-eye-toggle .com-eye-toggle__label{}
.com-eye-toggle .com-eye-toggle__label:before{content:'';display:inline-block;vertical-align: middle;width:16px;height:16px;background:url('../images/svg/eye-off.svg') 0 0 no-repeat;}
.com-eye-toggle .com-eye-toggle__input:checked + .com-eye-toggle__label{}
.com-eye-toggle .com-eye-toggle__input:checked + .com-eye-toggle__label:before{background-image: url('../images/svg/eye.svg');}
.com-eyes{background-color: var(--color-white);border: 1px solid #dddede;border-radius:8px;padding-top:4px;padding-bottom:4px;}
.com-eyes__item{display: flex;align-items: center;padding:8px 16px;}
.com-eyes__item .label{flex:1;font-weight: 500;font-size:12px;color:var(--color-primary);}
.com-eyes__item .com-eye-toggle{flex:none;cursor: pointer;}

/* select */
.com-select{height:32px;padding:0 8px;font-weight:600;font-size:13px;color:var(--color-primary);background-color:var(--color-white);border:1px solid #dddede;border-radius: 8px;}

/* com-select-calendar */
.com-select-calendar{display: inline-flex;align-items: center;justify-content: center;height:48px;padding:0 24px;font-weight: 600;text-align: center;background-color: var(--com-select-calendar-bg);border-radius: var(--com-select-calendar-radius);cursor: pointer;}

/* calendar */
.com-calendar .calendar{width:656px !important; height:auto !important; color:#646669; padding: 20px 24px 24px; font-family: 'Pretendard','Noto Sans KR','맑은 고딕','Malgun Gothic',MalgunGothic,Gulim,'굴림',Helvetica,AppleSDGothicNeo,sans-serif !important;}
.com-calendar .calendar .calendar-head h2{font-size:0; line-height: 0; text-indent: -9999px; padding:0}
.com-calendar .calendar .calendar-btn-apply{position:absolute; right:24px;bottom:20px;background: #1781F4;}
.com-calendar .calendar .calendar-btn-apply,
.com-calendar .calendar .calendar-head .close:before{width:55px;height:32px;border-radius: 8px;font-size:13px;font-style:normal; display:flex;align-items: center;justify-content: center}
.com-calendar .calendar .calendar-head .close{position:absolute; right:79px;bottom:20px;font-size:0; line-height:0;}
.com-calendar .calendar .calendar-head .close:before{content: '취소';}
.com-calendar .calendar .calendar-wrap,
.com-calendar .calendar .calendar-range{width:auto; display:inline-block; float: none; border:0;padding:0}
.com-calendar .calendar .calendar-wrap{display:flex;padding:0;justify-content: space-between}
.com-calendar .calendar .calendar-wrap > div{float: none; flex:none;padding:0;margin:0;width:280px !important; overflow: hidden}
.com-calendar .calendar .calendar-wrap .months-text{font-size:15px; font-weight: 500}
.com-calendar .calendar .calendar_weeks,
.com-calendar .calendar .calendar_days{display:flex;margin:0;padding:0}
.com-calendar .calendar .calendar_weeks{margin-top:15px}
.com-calendar .calendar .calendar_weeks li,
.com-calendar .calendar .calendar_days li{line-height: 16px; padding:0; width:40px; height:40px; margin:2px 0; display:flex; align-items: center; justify-content: center; position:relative}
.com-calendar .calendar .calendar_weeks li{color:#989898;}
.com-calendar .calendar .calendar_days li{color:#646669;}
.com-calendar .calendar .calendar_preset{display:flex; align-items: center; background:#F2F2F2;border-radius: 8px; height:32px;padding:4px}
.com-calendar .calendar .calendar_preset li.calendar_preset-ranges{padding:0 8px; height:24px;display:flex;align-items: center;justify-content: center;font-size:12px;line-height:12px;border-radius: 6px; margin:0;}
.com-calendar .calendar .calendar_preset li.calendar_preset-ranges.active-preset{background:var(--color-white);box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);border:0;color:#191F28}
.com-calendar .calendar .calendar_preset li:nth-child(4){display:none}
.com-calendar .calendar .months-text{position:relative;min-height:40px; display:flex; align-items: center; justify-content: center}
.com-calendar .calendar .months-text .right,
.com-calendar .calendar .months-text .left{width:40px; height:40px; position:absolute; top:0;background-repeat: no-repeat; background-position: 50%;border: 1px solid #E8E8E8; border-radius: 8px;}
.com-calendar .calendar .months-text .right{right:0;background-image: url('../images/svg/icon-arrow-right.svg')}
.com-calendar .calendar .months-text .left{left:0;background-image: url('../images/svg/icon-arrow-left.svg')}
.com-calendar .calendar li.calendar_days_selected{background-color:#191F28; color:#fff; font-weight: 600; border-radius: 100%;}
.com-calendar .calendar li.calendar_days_selected:hover{background-color:#191F28; color:#fff;}
.com-calendar .calendar li.calendar_days_in-range{background-color:#E7E7E7; color:#191F28; font-weight: 600;}
.com-calendar .calendar li.calendar_days_in-rang:hover{background-color:#E7E7E7;}
.com-calendar .calendar li.calendar_days_in-range:before{content:'';z-index:-1; display:block; position:absolute;margin-left:-20px;width:80px;height:100%;background-color:#E7E7E7;}

