/* layout */
.app{height:100%;background-color:var(--color-bg-main);}
/*.wrap::-webkit-scrollbar{background-color:rgba(255,255,255,0);width:4px;height:4px;opacity:0;}*/
/*.wrap::-webkit-scrollbar-button{display:none}*/
/*.wrap::-webkit-scrollbar-track{background-color:rgba(255,255,255,0);}*/
/*.wrap::-webkit-scrollbar-thumb{background-color:rgba(255,255,255,0);border:0;border-radius:0;}*/
/*.wrap:hover::-webkit-scrollbar-thumb{background-color:#babac0;border-color:#babac0;}*/

.wrap{position:relative;height:inherit;overflow:hidden;}
.header{position:absolute;left:0;right:0;top:0;height:var(--height-header);background: linear-gradient(180deg, var(--color-bg-main) 88.36%, rgba(205, 205, 205, 0) 100%);}
.header .logo{position: absolute;left:30px;top:33px;user-select: none;}
.header .logo img{vertical-align: middle;}
.header .logo a{display: inline-block;vertical-align: middle;padding:10px;}
.header .navigation{position:absolute;left:50%;top:30px;transform: translateX(-50%);}
.header .aside{position:absolute;right:24px;top:35px;}
.header .user{display: inline-flex;align-items: center;padding:10px 16px;}
.header .user:before{content:'';display: inline-block;width:16px;height:16px;margin-right:8px;vertical-align: middle;background: url('../images/svg/person.svg') 0 0 no-repeat;}

.navigation ul{display: flex;align-items: center;}
.navigation .depth1{position:relative;display: flex;align-items: center;height:48px;gap: 8px;padding:8px;color: var(--com-tab-1-text);background-color: var(--com-tab-1-bg);border-radius: var(--com-tab-1-radius);}
.navigation .depth1 > li{height:100%;}
.navigation .depth1 > li > a{display:flex;align-items: center;justify-content: center;min-width:90px;height:inherit;padding:0 18px;font-weight:600;color:var(--color-secondary);}
.navigation .depth1 > li.selected > a{color:var(--color-primary);background-color:var(--com-tab-1-selected-bg);border:var(--com-tab-1-selected-border);border-radius: var(--com-tab-1-selected-radius);box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);}
.navigation .depth2{position:absolute;left:50%;top:100%;padding:16px 8px;transform: translateX(-50%);}
.navigation .depth2 > li + li{margin-left:24px;}
.navigation .depth2 > li > a{display:flex;align-items: center;height:32px;padding:0 16px;font-weight:600;font-size:13px;background-color:transparent;color:#464646;border-radius:16px;white-space: nowrap;}
.navigation .depth2 > li.selected > a{color:var(--color-white);background-color:var(--color-point-1);}

.contents{height:inherit;}

/* viewer */
.viewer{height:inherit;}
.content-map{height:inherit;display:flex;align-items: center;justify-content: center;overflow: hidden;user-select: none;}
.content-map .map-inner img{width:100%;height:100%;object-fit: cover;}

.control-robot{position:absolute;left:40px;top:calc(var(--height-header) - 5px);bottom:calc(var(--height-contetol-timeline) + 27px);display: flex;flex-direction: column;}
.control-robot__info{flex:none;}
.control-robot__info span,
.control-robot__info a{font-weight:500;font-size:13px;}
.control-robot__info span{display:inline-flex;align-items:center;color:var(--color-primary);line-height:17px;}
.control-robot__info .robot-change{display:inline-block;vertical-align:middle;color:var(--color-point-1-1);margin-left:8px;}
.control-robot__info .robot-model:before,
.control-robot__info .map-location:before,
.control-robot__info .map-num:before{content:'';display: inline-block;vertical-align: middle;width:16px;height:16px;margin-right:8px;background-repeat: no-repeat;background-position: 0 0;}
.control-robot__info .robot-model:before{background-image: url('../images/svg/robot.svg');}
.control-robot__info .map-location:before{background-image: url('../images/svg/home.svg');}
.control-robot__info .map-num:before{background-image: url('../images/svg/map2.svg');}
.control-robot__info > div{padding-top:8px;padding-bottom:8px;}
.control-robot__info .info-robot{display:flex;align-items: center;}
.control-robot__info .info-map{}
.control-robot__info .info-map .map-num{margin-left:32px;}
.control-robot__info + .control-robot__panel{margin-top:27px;}

.control-robot__panel{display:flex;flex-direction:column;width:280px;padding:32px;background: rgba(255, 255, 255, 0.9);box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);backdrop-filter: blur(20px);border-radius: 24px;}
.control-robot__panel .panel-img{flex:none;text-align: center;}
.control-robot__panel .panel-img img{vertical-align: top}
.control-robot__panel .panel-tab{flex:none;width:100%;margin-top:32px;}
.control-robot__panel .panel-tab button{flex:1;}
.control-robot__panel .panel-content{flex:1;margin-top:16px;overflow-y: auto;}
.control-robot__panel .control-item{padding:16px 0;}
.control-robot__panel .control-item__header{display: flex;align-items: center}
.control-robot__panel .control-item__header .label{flex:1;}
.control-robot__panel .control-item__header label{flex:none;}
.control-robot__panel .control-item__content{}
.control-robot__panel .control-item__content .com-select{width:100%;margin-top:16px;}
.control-robot__panel .control-item__content .com-eyes{margin-top:16px;}
.control-robot__panel .control-item + .control-item{border-top:1px solid #e8e8e8;}
.control-robot__panel .control-item.disabled{pointer-events: none;}
.control-robot__panel .control-item.disabled .label,
.control-robot__panel .control-item.disabled label{opacity: .2;}

.control-map{position:absolute;right:40px;top:calc(var(--height-header) + 30px);bottom:calc(var(--height-contetol-timeline) + 78px);display: flex;flex-direction: column;}
.control-map__top{flex:1;}
.control-map__bottom{flex:none;}
.control-timeline{position:absolute;left:0;right:0;bottom:0;height:var(--height-contetol-timeline);background:linear-gradient(180deg, rgba(205, 205, 205, 0) 0%, var(--color-bg-main) 39.4%);overflow: hidden;}
.timeline-filter{position: absolute;left:0;right:0;top:0;}
.timeline-filter > div{position: absolute;top:0;z-index:1;}
.timeline-filter .date-mode{left:40px;}
.timeline-filter .date-current{left:50%;transform: translateX(-50%);}
.timeline-filter .date-type{right:40px;}
.timeline-chart{position:absolute;left:0;right:0;bottom:0;}
.timeline-nav img{width:100%;height:100%;vertical-align: middle}
/*.map-info-window{display:none;}*/

/* chart nav */
.chart-nav{display:flex;height:78px;margin:0 40px 40px 40px;}
.chart-nav li{flex:1;height:inherit;}
.chart-nav a{position:relative;display:flex;flex-direction: column;height:inherit;}
.chart-nav .bar-area{flex:1;position:relative;}
.chart-nav .bar-area > span{position:absolute;bottom:0;}
.chart-nav .bar-back{left:0;right:0;background-color: var(--color-point-3);border-top:2px solid var(--color-point-3-1);}
.chart-nav .bar-front{left:50%;width:16px;transform: translateX(-50%);background-color: var(--color-point-2-1);border: 1px solid var(--color-point-2);}
.chart-nav .bar-label{position:relative;flex:none;padding-top:9px;text-align:center;font-weight:500;font-size:13px;color:#191f28;line-height:17px;}
.chart-nav .bar-label:before{content:'';position: absolute;left:0;top:0;bottom:0;width:1px;background-color:var(--color-gray-1);}
.chart-nav li:first-child .bar-label:before{display:none;}
.chart-nav a:before{content:'';position: absolute;left:0;right:0;top:52px;bottom:-4px;background-color: var(--color-point-1);box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);border-radius:0 0 8px 8px;opacity: 0;}
.chart-nav a:hover:before,
.chart-nav a.selected:before{opacity:1;}
.chart-nav a:hover .bar-label{color:var(--color-white);}
.chart-nav a.selected:before{top:-4px;border-radius: 8px;}
.chart-nav a.selected .bar-label{color:var(--color-white);}