/* profile common : a-cp-NAME */
.a-cp-popup-photo{
    width:800px;
}
.a-cp-popup-photo .a-cp-photos,
.a-cp-popup-photo .a-photos{
    padding-left:64px;
    padding-right:64px;
    padding-bottom:48px;
    background-color:#fafafa;
    border:0;
    border-top-left-radius:0;
    border-top-right-radius:0;
}
.a-cp-popup-photo .a-cp-photos__item,
.a-cp-popup-photo .a-photos__item{
    width:144px;
    height:100px;
}
.a-cp-popup-photo__image figure{
    width:672px;
    height:378px;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    border-radius: 16px;
}
.a-cp-popup-photo__detail{
    margin-top:32px;
}
.a-cp-popup-photo__detail-header{
    display: flex;
    align-items: center;
    padding-top:12px;
    padding-bottom:12px;
}
.a-cp-popup-photo__detail-title{
    flex:1;
    font-weight:700;
    font-size:24px;
}
.a-cp-popup-photo__detail-badge{
    flex:none;
    display: flex;
    align-items: center;
}
.a-cp-popup-photo__detail-badge .label-badge .label{margin-right:10px;}
.a-cp-popup-photo__detail-badge > *,
.a-cp-popup-photo__detail-func > *{margin-left:8px}
.a-cp-popup-photo__detail-badge > *:first-child,
.a-cp-popup-photo__detail-func > *:first-child{margin-left:0}
.a-cp-popup-photo__detail-func{
    flex:none;
    margin-left:32px;
}
.a-cp-popup-photo__detail-info{}
.a-cp-popup-photo__info-item{
    display: flex;
    align-items: flex-start;
    padding-top:8px;
    padding-bottom:8px;
}
.a-cp-popup-photo__info-item .icon{
    margin-right:12px;
}
.a-cp-popup-photo__info-item .label{
    font-size:13px;
    color:#646669;
}
.a-cp-popup-photo__info-item > *{margin-left:13px;}
.a-cp-popup-photo__info-item > *:first-child{margin-left:0;}
.a-cp-popup-photo__detail-thumbnail{
    display: flex;
    align-items: center;
    padding-top:12px;
    padding-bottom:12px;
}
.a-cp-popup-photo__detail-thumbnail .a-img-2{
    margin-left:16px;
    cursor: pointer;
}
.a-cp-popup-photo__detail-thumbnail .a-img-2:first-child{margin-left:0;}


/* profile : a-cp-NAME */
.a-cp-home{}
.a-cp-count__info{
    display: flex;
}
.a-cp-count__info-item{
    flex:1;
    padding:0 32px 24px 32px;
    background-color: #fafafa;
    border-radius: 16px;
}
.a-cp-count__info-item:nth-child(even){
    margin-left:32px;
}
.a-cp-count__header{
    display: flex;
    align-items: center;
    min-height:64px;
}
.a-cp-count__title{
    flex:1;
    font-size:12px;
}
.a-cp-count__tab{
    flex:none;
}
.a-cp-count__detail{
    display: flex;
    align-items: center;
    padding-top:14px;
    padding-bottom:14px;
}
.a-cp-count__detail-item{
    flex:1;
    display: flex;
    align-items: center;
}
.a-cp-count__detail-item em{
    font-weight: 500;
    font-size:36px;
    line-height:36px;
    color:#4b4b4b;
}
.a-cp-count__detail-item span{
    margin-left:16px;
    line-height:13px;
}
/*.a-cp-count__detail.col--2 .a-cp-count__detail-item + .a-cp-count__detail-item{margin-left:80px}*/
/*.a-cp-count__detail.col--3 .a-cp-count__detail-item + .a-cp-count__detail-item{margin-left:56px}*/
.a-cp-home__search{margin-top:64px;}
.a-cp-paging{
    padding-top:32px;
    display: flex;
    justify-content: center;
}

.a-cp-file{}
.a-cp-file__search{}
.a-cp-file__list,
.a-cp-document__list,
.a-cp-meeting__list{margin-top:32px;}
.a-cp-organization{
    position: fixed;
    left:0;
    right:0;
    top:128px;
    bottom:0;
}
.a-cp-organization__map{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: #f2f2f2;
}
.a-cp-organization__map{
    right:405px;
}
.a-cp-organization__side{
    position: absolute;
    right:0;
    top:0;
    bottom:0;
    display: flex;
    flex-direction: column;
    width:405px;
    background-color: #fff;
}
.a-cp-organization__side-header{
    flex:none;
    padding:0 16px 25px 15px;
}
.a-cp-organization__control{
    display: flex;
    align-items: center;
    padding-top:24px;
    padding-bottom:24px;
}
.a-cp-organization__control button{margin-left:16px;}
.a-cp-organization__control button:first-child{margin-left:0;}
.a-cp-organization__control-l,
.a-cp-organization__control-r{
    display: flex;
    align-items: center;
}
.a-cp-organization__control-l{flex:1;}
.a-cp-organization__control-r{flex:none;}
.a-cp-organization__search{}
.a-cp-organization__side-body{
    flex:1;
    position: relative;
}
.a-cp-organization__side-scroll{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    padding-left:17px;
    overflow-y: auto;
}
.a-cp-organization__side .a-list-3 .a-list__item{
    max-width:373px;
}

.a-cp-overview{
    display: flex;
    align-items: flex-start;
}
.a-cp-overview__side{
    flex:none;
    width:256px;
    border: 1px solid #dddede;
    border-radius: 16px;
}
.a-cp-overview__side-header{
    display: flex;
    align-items: center;
    min-height:64px;
    padding:16px 16px 16px 24px;
}
.a-cp-overview__side-title{
    flex:1;
    font-size:12px;
}
.a-cp-overview__side-func{
    flex:none;
}
.a-cp-overview__side-body{
    padding:24px 24px 40px 24px;
}
.a-cp-overview__basic-logo img{
    max-width:100%;
}
.a-cp-overview__basic-logo .a-user{
    width:56px;
    height:56px;
    border-radius: 56px;
}
.a-cp-overview__basic-item{
    margin-top:32px;
}
.a-cp-overview__basic-item .desc{
    line-height:20px;
}
.a-cp-overview__basic-item .label{
    margin-top:6px;
    line-height:13px;
}
.a-cp-overview__content{
    flex:1;
    margin-left:32px;
}
.a-cp-overview__content > *{margin-top:32px}
.a-cp-overview__content > *:first-child{margin-top:0;}

.a-cp-overview__recently{
    background-color: #fafafa;
    border-radius: 16px;
    padding-left:24px;
    padding-right:24px;
}
.a-cp-overview__recently-header{
    display: flex;
    align-items: center;
    min-height:64px;
    padding-top:16px;
    padding-bottom:16px;
}
.a-cp-overview__recently-title{
    flex: 1;
}
.a-cp-overview__recently-func{
    flex:none;
}
.a-cp-overview__recently-func > *{margin-left:8px;}
.a-cp-overview__recently-func > *:first-child{margin-left:0;}
.a-cp-overview__recently-item{
    display: flex;
    align-items: center;
    min-height:56px;
    padding-top:12px;
    padding-bottom:12px;
    cursor: pointer;
}
.a-cp-overview__recently-item .num{
    flex:none;
    width:24px;
    text-align: center;
}
.a-cp-overview__recently-item .user{flex:none;}
.a-cp-overview__recently-item .num + .user{margin-left:16px;}
.a-cp-overview__recently-item > .user-name{
    flex:none;
    margin-left:16px;
}
.a-cp-overview__recently-item .user-name{
    display: inline-block;
    vertical-align: middle;
    width:81px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.a-cp-overview__recently-item .progress{
    flex:1;
    margin-left:32px;
    padding-right:44px;
}
.a-cp-overview__recently-item .user-count{
    flex:none;
    width:168px;
    margin-left:32px;
    text-align: right;
}
.a-cp-overview__recently-body{
    padding-bottom:24px;
}

.a-cp-overview__visited-gifts{
    display: flex;
    align-items: center;
}
.a-cp-overview__visited-gifts > *{
    flex:1;
    margin-left:32px;
}
.a-cp-overview__visited-gifts > *:first-child{margin-left:0;}

.a-cp-meeting__list .a-list__item-side img{opacity: .5;}
.a-cp-meeting__list .a-list__item:hover .a-list__item-side img{opacity: 1;}

/* org */
.a-cp-org-summary{}
.a-cp-org-summary__title{
    padding-top:19px;
    padding-bottom:19px;
    font-weight: 600;
    font-size:18px;
    line-height:18px;
    color:#646669;
}

/* Contacts */
.a-cc-home{}
.a-cc-overview__recently-group{display: flex;}
.a-cc-overview__recently-group > *{flex:1;}
.a-cc-overview__recently-group > *:nth-child(even){margin-left:32px;}
.a-cc-overview__recently-group .a-cp-overview__recently-title{font-size:12px;line-height:16px;color:#000;}
.a-cc-overview__recently-group .a-cp-overview__recently-title span{display: block;}
.a-cc-overview__recently-group .a-cp-overview__recently-item .user-name{width:71px;}
.a-cc-organization{}

/* popup */
.a-cp-popup-organization{width:736px;}
.a-cp-popup-org__write{width:608px}
.a-cp-popup-file{width:608px;}
.a-cp-popup-file .a-popup__body{padding-top:0;}
.a-cp-popup-file__list{height:256px;margin-top:32px;}
.a-cp-popup-photo2{width:736px;}
.a-cp-popup-photo2__list{height:388px;}
.a-cp-popup__photo-modify{width:736px;}
.a-cp-photo-modify__list{height:240px;}