/* layout */
.app{height:100vh;}
/*.wrap::-webkit-scrollbar{background-color:rgba(255,255,255,0);width:4px;height:4px;opacity:0;}*/
/*.wrap::-webkit-scrollbar-button{display:none}*/
/*.wrap::-webkit-scrollbar-track{background-color:rgba(255,255,255,0);}*/
/*.wrap::-webkit-scrollbar-thumb{background-color:rgba(255,255,255,0);border:0;border-radius:0;}*/
/*.wrap:hover::-webkit-scrollbar-thumb{background-color:#babac0;border-color:#babac0;}*/

.wrap{position:relative;height:inherit;}
.header{position:fixed;left:0;right:0;top:0;z-index:1;height:var(--height-header);background: linear-gradient(180deg, rgba(205, 205, 205, 0.9) 88.36%, rgba(205, 205, 205, 0) 100%);}
.header .logo{position: absolute;left:30px;top:33px;user-select: none;}
.header .logo img{vertical-align: middle;}
.header .logo a{display: inline-block;vertical-align: middle;padding:10px;}
.header .navigation{position:absolute;left:50%;top:30px;transform: translateX(-50%);}
.header .aside{position:absolute;right:48px;top:35px;}
.header .user{display: inline-block; vertical-align: top;  width:40px;height:40px;background:#Fff url('../images/svg/icon-user.svg') 50%no-repeat; border:1px solid #ADADB0; border-radius:24px; font-size:0; text-indent: -999px}
/*.header .user:before{content:''; width:40px;height:40px}*/

.navigation ul{display: flex;align-items: center;}
.navigation .depth1{position:relative;display: flex;align-items: center;height:40px;gap: 8px;padding:4px;color: var(--r-tab-1-text);background-color: var(--color-white);border-radius: var(--r-tab-1-radius);border:1px solid #B3B3B3}
.navigation .depth1 > li{height:100%;}
.navigation .depth1 > li > a{display:flex;align-items: center;justify-content: center;min-width:90px;height:inherit;padding:0 18px;font-weight:600;color:#242424;}
.navigation .depth1 > li.selected > a{color:var(--color-white);background-color:var(--color-r-point-1);border:var(--r-tab-1-selected-border);border-radius: var(--r-tab-1-selected-radius);box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);}
.navigation .depth2{position:absolute;left:50%;top:100%;padding:16px 8px;transform: translateX(-50%);}
.navigation .depth2 > li + li{margin-left:24px;}
.navigation .depth2 > li > a{display:flex;align-items: center;height:32px;padding:0 16px;font-weight:600;font-size:13px;background-color:transparent;color:#242424;border-radius:16px;white-space: nowrap;}
.navigation .depth2 > li.selected > a{color:var(--color-white);background-color:#4d4d4d;}

.contents{height:inherit;}

/* viewer */
.viewer{position:absolute;left:0;right:0;top:0;bottom:0;overflow: hidden;}
.content-map{height:inherit;display:flex;align-items: center;justify-content: center;overflow: hidden;user-select: none;}
.content-map .map-inner img{width:100%;height:100%;object-fit: cover;}

.control-robot{position:absolute;left:48px;top:calc(var(--height-header) - 5px);bottom:calc(var(--height-contetol-timeline) + 27px);display: flex;flex-direction: column;}

.panel-robot-info span,
.panel-robot-info a{font-weight:500;font-size:13px;}
.panel-robot-info span{color:var(--color-primary);line-height:17px;}
.panel-robot-info .robot-change{display:inline-block;vertical-align:middle;color:var(--color-r-point-1-1);margin-left:8px;}
/*.panel-robot-info .robot-model:before,*/
.panel-robot-info .map-location:before,
.panel-robot-info .map-num:before{content:'';display:block;width:12px;height:12px;margin-right:4px;background-repeat: no-repeat; background-size:12px;background-position: 0 0;}
.panel-robot-info .map-location:before{background-image: url('../images/svg/home.svg');}
.panel-robot-info .map-num:before{background-image: url('../images/svg/map2.svg');}
.panel-robot-info > div{padding-top:8px;display:flex; flex-wrap:wrap;align-items: center;justify-content: center}
.panel-robot-info > div > *{flex:none}
.panel-robot-info .info-robot .robot-name{width:100%; text-align: center;font-size:15px;line-height: 20px;}
.panel-robot-info .info-robot .robot-model,
.panel-robot-info .info-robot .robot-change{margin-top:8px; font-size:12px; line-height: 16px }
.panel-robot-info .info-map > *{display:flex;align-items: center;font-size:12px;color:#4d4d4d;line-height:16px}
.panel-robot-info .info-map > * + *{margin-left:20px}
.panel-robot-info + .control-robot__panel{margin-top:27px;}

.control-robot__panel{display:flex;flex-direction:column;width:260px;padding:32px;background: rgba(255, 255, 255, 0.9);box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);backdrop-filter: blur(20px);border-radius: 24px;border:1px solid #ADADB0}
.control-robot__panel .panel-img{flex:none;text-align: center;}
.control-robot__panel .panel-img img{vertical-align: top}
.control-robot__panel .panel-tab{flex:none;width:100%;margin-top:24px;border:0;background-color:#f2f2f2}
.control-robot__panel .panel-tab button{flex:1;}
.control-robot__panel .panel-content{flex:1;margin-top:24px;}
.control-robot__panel .control-item{padding:16px 0; border-top:1px solid #f2f2f2;}
.control-robot__panel .control-item__header{display: flex;align-items: center}
.control-robot__panel .control-item__header .label{flex:1;}
.control-robot__panel .control-item__header label{flex:none;}
.control-robot__panel .control-item__content{}
.control-robot__panel .control-item__content .vx-combobox{width:100%;margin-top:16px; border:1px solid #DDDEDE}
.control-robot__panel .control-item__content .r-eyes{margin-top:16px;}
/*.control-robot__panel .control-item + .control-item{border-top:1px solid #e8e8e8;}*/
.control-robot__panel .control-item.disabled{pointer-events: none;}
.control-robot__panel .control-item.disabled .label,
.control-robot__panel .control-item.disabled label,
.control-robot__panel .control-item.disabled button{opacity: .2;}

.control-map{position:absolute;right:48px;top:calc(var(--height-header) + 30px);bottom:calc(var(--height-contetol-timeline) + 78px);display: flex;flex-direction: column;z-index:1}
.control-map__top{flex:1;}
.control-map__bottom{flex:none;}
.control-timeline{position:absolute;left:0;right:0;bottom:0;height:var(--height-contetol-timeline);background:linear-gradient(180deg, rgba(205, 205, 205, 0) 0%, var(--color-bg-main) 39.4%);overflow: hidden;}
.timeline-filter{position: absolute;left:0;right:0;top:0;}
.timeline-filter > div{position: absolute;top:0;z-index:1;}
.timeline-filter .date-mode{left:48px;}
.timeline-filter .date-mode button,
.timeline-filter .date-type button{padding-left:18px;padding-right:18px;}
.timeline-filter .date-current{left:50%;transform: translateX(-50%);}
.timeline-filter .date-type{right:48px;}
.timeline-chart{position:absolute;left:0;right:0;bottom:0;}
.timeline-nav img{width:100%;height:100%;vertical-align: middle}
.timeline-nav{ margin:0 48px 20px 48px;}
/*.map-info-window{display:none;}*/

/* detail content */
.detail-content{position: relative;min-height:100%;padding:180px 48px 48px 48px;}
/*.detail-content.auto{height:auto;}*/

/* page: setting - alarm */
.p-setting-alarm-send-list{}
.p-setting-alarm-detail-popup{min-width:960px;}

/* page: setting - account */
.p-setting-account-modify-popup{min-width:640px;}
.p-setting-account-change-popup{min-width:960px;}

/* page: driving */
.p-driving-map-completion-popup{min-width:960px;}
.p-driving-map-completion-content{display:flex;flex-direction:column;}
.p-driving-map-completion-content .r-tachyon__footer{padding-bottom:16px;}
