/* login */
.ac-login-main{
    position: fixed;
    left:0;
    right:0;
    top:0;
    bottom:0;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}
.ac-login{
    display: flex;
}
.ac-login__header{
    width:460px;
    padding-right:122px;
}
.ac-login__title{
    position: relative;
    font-weight: 100;
    font-size:23px;
    line-height:40px;
    color:#fff;
    letter-spacing: 3px;
}
.ac-login__title:after{
    content: '';
    position: absolute;
    left:0;
    top:calc(100% + 58px);
    width:68px;
    height:58px;
    background:url('../images/svg/logo-white.svg') 0 0/68px 58px no-repeat;
}
.ac-login__title em{
    font-weight: 500;
}
.ac-login__box{
    width:440px;
    padding:60px 60px 80px 60px;
    background-color: #fff;
    border-radius: 10px;
}
.ac-login__box-header{
    padding-bottom:40px;
}
.ac-login__box-header.none{
    padding-bottom:0;
}
.ac-login__box-title{
    color:#000;
}
.ac-login__box-desc{
    margin-top:20px;
}
.ac-login__box-desc button{
    margin-left:10px;
}
.ac-login__form{
    padding-top:25px;
    padding-bottom:25px;
}
.ac-login__form-message{
    font-size:15px;
}
.ac-login__user{
    display: flex;
    align-items: center;
}
.ac-login__user .a-user{
    margin-right:10px;
}
.ac-login__user-label{
    font-size:15px;
    color:#000;
}
.ac-login__form .ac-btn__send{
    flex:none;
    width:62px;
}
.ac-login__form > * + *{
    margin-top:25px;
}
.ac-login__form > p + *{
    margin-top:20px;
}
.ac-login__button{
    padding-top:20px;
}
.btn-password-find{
    margin-bottom:-35px;
}
.ac-login__code{
    margin-top:20px;
    padding-top:20px;
    border-top:1px solid rgba(0, 0, 0, .2);
}
.ac-login__code-label{
    padding-top:25px;
    padding-bottom:25px;
    font-size: 15px;
    color:#000;
}
.ac-login__code-form{display: flex;justify-content: space-between;}
.ac-login__code.disabled{pointer-events: none;}
.ac-login__code.disabled .ac-login__code-label{opacity: .3;}