:root {
    --color-white: #fff;
    --color-black: #000;
    --color-primary: #191f28;
    --color-bg-1: #e8e8e8;
    --color-btn-icon: var(--color-white);

    --color-bg-main: #cdcdcd;
    --color-bg-panel: rgba(255, 255, 255, 0.9);
    --color-bg-tab-btn: var(--color-white);

    --color-tab-bg: var(--color-bg-1);
    --color-tab-btn-bg: var(--color-white);
    --color-tab-btn-border: rgba(0, 0, 0, 0.02);
    --color-tab-btn-text: --color-primary;

    --height-header: 150px;
    --height-contetol-timeline: 192px;

    /* com */
    --com-btns-icon-bg: var(--color-white);
    --com-btns-icon-radius: 8px;

    --com-tab-1-bg: var(--color-bg-1);
    --com-tab-1-text: var(--color-primary);
    --com-tab-1-radius: 32px;
    --com-tab-1-selected-bg: var(--color-white);
    --com-tab-1-selected-border: 1px solid rgba(0, 0, 0, 0.02);
    --com-tab-1-selected-radius: 16px;

    --com-select-calendar-bg: var(--color-white);
    --com-select-calendar-text: var(--color-primary);
    --com-select-calendar-radius: 32px;
}