/*-------------------------------------
 * VX Tree
 * .vx-tree{}
 * .vx-tree .list-container{}
 * .vx-tree .list-content{}
 * .vx-tree__item{}
 * .vx-tree__item.vx-level-0{}
 * .vx-tree__item.vx-level-(n){}
 * .vx-tree__item.vx-leaf{}
 * .vx-tree__item[active]{}
 * .vx-tree__item[selected]{}
 * .vx-tree__item[isopened]{}
 * .vx-tree__item__toggle{}
 * .vx-tree__item__toggle.toggle--open{}
 * .vx-tree__item__icon{}
 * .vx-tree__item__label{}
 *-------------------------------------*/
/* m-tree-default */
.vx-tree-default{
	border:1px solid transparent;
	border-bottom:0;
	color:#222;
}
.vx-tree-default .list-content{
	padding:2px 0 1px 0;
	box-sizing:content-box;
}
.vx-tree-default .vx-tree__item{
	padding:0 0 0 22px;
}
.vx-tree-default .vx-tree__item.vx-level-0{padding-left:7px;}
.vx-tree-default .vx-tree__item.vx-level-1{padding-left:36px;}
.vx-tree-default .vx-tree__item.vx-level-2{padding-left:65px;}
.vx-tree-default .vx-tree__item.vx-level-3{padding-left:94px;}
.vx-tree-default .vx-tree__item.vx-level-4{padding-left:123px;}
.vx-tree-default .vx-tree__item.vx-level-5{padding-left:152px;}
.vx-tree-default .vx-tree__item.vx-level-6{padding-left:181px;}
.vx-tree-default .vx-tree__item.vx-level-7{padding-left:210px;}
.vx-tree-default .vx-tree__item.vx-level-8{padding-left:239px;}
.vx-tree-default .vx-tree__item.vx-level-9{padding-left:268px;}
.vx-tree-default .vx-tree__item.vx-level-10{padding-left:297px;}
.vx-tree-default .vx-tree__item.vx-level-11{padding-left:326px;}
.vx-tree-default .vx-tree__item:hover{
	background:transparent;
	color:inherit;
}
.vx-tree-default .vx-tree__item[selected],
.vx-tree-default .vx-tree__item[active]{
	color:#2a68d2;
}
.vx-tree-default .vx-tree__item:before{
	content:'';
	position:absolute;
	left:7px;
	top:4px;
	z-index:1;
	display:block;
	width:17px;
	height:11px;
	background-color: rgba(255,0,0,.1);
	/*background:url('../images/icons/m_icons.png') -129px -84px no-repeat;*/
}
.vx-tree-default .vx-tree__item:after{
	content:'';
	position:absolute;
	left:0;
	right:0;
	top:-2px;
	bottom:-1px;
	border-top:1px solid transparent;
	border-bottom:1px solid transparent;
	background-color:#fff;
}
.vx-tree-default .vx-tree__item:hover{
	z-index:1;
}
.vx-tree-default .vx-tree__item:hover:after{
	border-color:#eaeaea;
	background-color:#f4f5f8;
}
.vx-tree-default .vx-tree__item.vx-level-0:before{display:none;}
.vx-tree-default .vx-tree__item.vx-level-1:before{left:14px;}
.vx-tree-default .vx-tree__item.vx-level-2:before{left:43px;}
.vx-tree-default .vx-tree__item.vx-level-3:before{left:72px;}
.vx-tree-default .vx-tree__item.vx-level-4:before{left:101px;}
.vx-tree-default .vx-tree__item.vx-level-5:before{left:130px;}
.vx-tree-default .vx-tree__item.vx-level-6:before{left:159px;}
.vx-tree-default .vx-tree__item.vx-level-7:before{left:188px;}
.vx-tree-default .vx-tree__item.vx-level-8:before{left:217px;}
.vx-tree-default .vx-tree__item.vx-level-9:before{left:246px;}
.vx-tree-default .vx-tree__item.vx-level-10:before{left:275px;}
.vx-tree-default .vx-tree__item.vx-level-11:before{left:304px;}
.vx-tree-default .vx-tree__item__toggle{
	position:relative;
	width:25px;
	height:100%;
	font-size:0;
	z-index:1;
}
.vx-tree-default .vx-tree__item__toggle:before{
	content:'';
	position:absolute;
	left:0;
	top:7px;
	width:15px;
	height:15px;
	background-color:rgba(255,0,0,.1);
	/*background:url('../images/icons/m_icons.png') -434px 0 no-repeat;*/
}
.vx-tree-default .vx-tree__item__toggle.toggle--open:before{
	background-position:-459px 0;
}
.vx-tree-default .vx-tree__item__label{
	position: relative;
	white-space:nowrap;
	z-index:1;
}

/* vx-tree-folder */
.vx-tree-folder{
	border-color:transparent;
}
.vx-tree-folder .vx-level-0{padding-left:10px;}
.vx-tree-folder .vx-level-1{padding-left:30px;}
.vx-tree-folder .vx-level-2{padding-left:60px;}
.vx-tree-folder .vx-level-3{padding-left:90px;}
.vx-tree-folder .vx-level-4{padding-left:120px;}
.vx-tree-folder .vx-level-5{padding-left:150px;}
.vx-tree-folder .vx-level-6{padding-left:180px;}
.vx-tree-folder .vx-level-7{padding-left:210px;}
.vx-tree-folder .vx-level-8{padding-left:240px;}
.vx-tree-folder .vx-level-9{padding-left:270px;}
.vx-tree-folder .vx-level-10{padding-left:300px;}
.vx-tree-folder .vx-level-11{padding-left:330px;}
.vx-tree-folder .vx-tree__item:hover{
	background-color:#ebf2fc;
	color:#222;
}
.vx-tree-folder .vx-tree__item__toggle{
	position:relative;
	width:22px;
	height:100%;
	font-size:0;
	color:transparent;
}
.vx-tree-folder .vx-tree__item__toggle:before{
	content:'';
	position:absolute;
	left:0;
	top:10px;
	width:16px;
	height:14px;
	background-color:rgba(255,0,0,.1);
	/*background:url('../images/icons/m_icons.png') -331px 0 no-repeat;*/
}
.vx-tree-folder .vx-tree__item__toggle.toggle--open:before{background-position:-306px 0;}
.vx-tree-folder .vx-tree__item__label{
	position:relative;
	max-width:calc(100% - 22px);
	font-size:14px;
	cursor:pointer;
}
.vx-tree-folder .vx-tree__item__label div{
	max-width:100%;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.vx-tree-folder .m-btn-rectangle{
	position:absolute;
	right:8px;
	top:-2px;
	height:23px;
	padding:0 6px;
	border-color:#e0e0e0;
	font-size:12px;
	line-height:21px;
	font-weight:400;
}
.vx-tree-folder .vx-tree__item__label .type--flex{
	display:flex;
	align-items:center;
}
.vx-tree-folder .vx-tree__item__label .type--flex .label{
	flex:1;
	padding-right:10px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.vx-tree-folder .vx-tree__item__label .type--flex .m-btn-rectangle{
	flex:none;
	position:static;
	margin-right:8px;
}

/* vx-tree-folder2 */
.vx-tree-folder2{
	border:1px solid transparent;
	border-bottom:0;
	color:#222;
}
.vx-tree-folder2 .list-content{
	padding:2px 0 1px 0;
	box-sizing:content-box;
}
.vx-tree-folder2 .vx-tree__item{
	padding:0 0 0 22px;
}
.vx-tree-folder2 .vx-tree__item.vx-level-0{padding-left:7px;}
.vx-tree-folder2 .vx-tree__item.vx-level-1{padding-left:36px;}
.vx-tree-folder2 .vx-tree__item.vx-level-2{padding-left:65px;}
.vx-tree-folder2 .vx-tree__item.vx-level-3{padding-left:94px;}
.vx-tree-folder2 .vx-tree__item.vx-level-4{padding-left:123px;}
.vx-tree-folder2 .vx-tree__item.vx-level-5{padding-left:152px;}
.vx-tree-folder2 .vx-tree__item.vx-level-6{padding-left:181px;}
.vx-tree-folder2 .vx-tree__item.vx-level-7{padding-left:210px;}
.vx-tree-folder2 .vx-tree__item.vx-level-8{padding-left:239px;}
.vx-tree-folder2 .vx-tree__item.vx-level-9{padding-left:268px;}
.vx-tree-folder2 .vx-tree__item.vx-level-10{padding-left:297px;}
.vx-tree-folder2 .vx-tree__item.vx-level-11{padding-left:326px;}

.vx-tree-folder2 .vx-tree__item[selected],
.vx-tree-folder2 .vx-tree__item[active]{
	color:#2a68d2;
}
.vx-tree-folder2 .vx-tree__item:before{
	content:'';
	position:absolute;
	left:7px;
	top:8px;
	z-index:1;
	display:block;
	width:17px;
	height:11px;
	background-color:rgba(255,0,0,.1);
	/*background:url('../images/icons/m_icons.png') -129px -84px no-repeat;*/
}
.vx-tree-folder2 .vx-tree__item:after{
	content:'';
	position:absolute;
	left:0;
	right:0;
	top:-2px;
	bottom:-1px;
	border-top:1px solid transparent;
	border-bottom:1px solid transparent;
	background-color:#fff;
}

.vx-tree-folder2 .vx-tree__item.vx-level-0:before{display:none;}
.vx-tree-folder2 .vx-tree__item.vx-level-1:before{left:14px;}
.vx-tree-folder2 .vx-tree__item.vx-level-2:before{left:43px;}
.vx-tree-folder2 .vx-tree__item.vx-level-3:before{left:72px;}
.vx-tree-folder2 .vx-tree__item.vx-level-4:before{left:101px;}
.vx-tree-folder2 .vx-tree__item.vx-level-5:before{left:130px;}
.vx-tree-folder2 .vx-tree__item.vx-level-6:before{left:159px;}
.vx-tree-folder2 .vx-tree__item.vx-level-7:before{left:188px;}
.vx-tree-folder2 .vx-tree__item.vx-level-8:before{left:217px;}
.vx-tree-folder2 .vx-tree__item.vx-level-9:before{left:246px;}
.vx-tree-folder2 .vx-tree__item.vx-level-10:before{left:275px;}
.vx-tree-folder2 .vx-tree__item.vx-level-11:before{left:304px;}
.vx-tree-folder2 .vx-tree__item__toggle[style="visibility: hidden;"]{
	display: none;
}
.vx-tree-folder2 .vx-tree__item__toggle{
	position:relative;
	width:25px;
	height:100%;
	font-size:0;
	z-index:1;
}
.vx-tree-folder2 .vx-tree__item__toggle:before{
	content: '';
	position: absolute;
	left: 0;
	top: 11px;
	width: 16px;
	height: 14px;
	background-color: rgba(255,0,0,.1);
	/*background: url(../images/icons/m_icons.png) -331px 0 no-repeat;*/
}
.vx-tree-folder2 .vx-tree__item__toggle.toggle--open:before{
	background-position: -306px 0;
}
.vx-tree-folder2 .vx-tree__item__label{
	position: relative;
	white-space:nowrap;
	z-index:1;
	font-size:14px;
	font-weight:300;
	letter-spacing:-0.5px;
}
.vx-tree-folder2 .vx-tree__item.vx-level-0 .vx-tree__item__label span.label {font-weight:500;}

/* vx-tree-folder3 */
.vx-tree-folder3{
	border:1px solid transparent;
	border-bottom:0;
	color:#222;
}
.vx-tree-folder3  .m-checkbox .label{
	padding-left:8px;
	font-size:13px;
	font-weight:300;
}
.vx-tree-folder3 .m-checkbox .label:before{
	top:0;
}
.vx-tree-folder3 .m-checkbox input:checked + .label:before{
	background-color:#0c5fe9;
	border-color:#0c5fe9
}
.vx-tree-folder3  .m-checkbox .label:after{
	width:16px;
	color:#fff;
	line-height:14px;
}
.vx-tree-folder3 .list-content{
	padding:2px 0 1px 0;
	box-sizing:content-box;
}
.vx-tree-folder3 .vx-tree__item{
	padding:0 0 0 22px;
}
.vx-tree-folder3 .vx-tree__item.vx-level-0{padding-left:7px;}
.vx-tree-folder3 .vx-tree__item.vx-level-0 .m-checkbox .label{
	font-size:15px;
	font-weight: 400
}
.vx-tree-folder3 .vx-tree__item.vx-level-1{padding-left:36px;}
.vx-tree-folder3 .vx-tree__item.vx-level-2{padding-left:65px;}
.vx-tree-folder3 .vx-tree__item.vx-level-3{padding-left:94px;}
.vx-tree-folder3 .vx-tree__item.vx-level-4{padding-left:123px;}
.vx-tree-folder3 .vx-tree__item.vx-level-5{padding-left:152px;}
.vx-tree-folder3 .vx-tree__item.vx-level-6{padding-left:181px;}
.vx-tree-folder3 .vx-tree__item.vx-level-7{padding-left:210px;}
.vx-tree-folder3 .vx-tree__item.vx-level-8{padding-left:239px;}
.vx-tree-folder3 .vx-tree__item.vx-level-9{padding-left:268px;}
.vx-tree-folder3 .vx-tree__item.vx-level-10{padding-left:297px;}
.vx-tree-folder3 .vx-tree__item.vx-level-11{padding-left:326px;}

.vx-tree-folder3 .vx-tree__item[selected],
.vx-tree-folder3 .vx-tree__item[active]{
	color:#2a68d2;
}
.vx-tree-folder3 .vx-tree__item:before{
	content:'';
	position:absolute;
	left:7px;
	top:4px;
	z-index:1;
	display:block;
	width:17px;
	height:11px;
	background-color:rgba(255,0,0,.1);
	/*background:url('../images/icons/m_icons.png') -129px -84px no-repeat;*/
}
.vx-tree-folder3 .vx-tree__item:after{
	content:'';
	position:absolute;
	left:0;
	right:0;
	top:-2px;
	bottom:-1px;
	border-top:1px solid transparent;
	border-bottom:1px solid transparent;
	background-color:transparent;
}

.vx-tree-folder3 .vx-tree__item.vx-level-0:before{display:none;}
.vx-tree-folder3 .vx-tree__item.vx-level-1:before{left:14px;}
.vx-tree-folder3 .vx-tree__item.vx-level-2:before{left:43px;}
.vx-tree-folder3 .vx-tree__item.vx-level-3:before{left:72px;}
.vx-tree-folder3 .vx-tree__item.vx-level-4:before{left:101px;}
.vx-tree-folder3 .vx-tree__item.vx-level-5:before{left:130px;}
.vx-tree-folder3 .vx-tree__item.vx-level-6:before{left:159px;}
.vx-tree-folder3 .vx-tree__item.vx-level-7:before{left:188px;}
.vx-tree-folder3 .vx-tree__item.vx-level-8:before{left:217px;}
.vx-tree-folder3 .vx-tree__item.vx-level-9:before{left:246px;}
.vx-tree-folder3 .vx-tree__item.vx-level-10:before{left:275px;}
.vx-tree-folder3 .vx-tree__item.vx-level-11:before{left:304px;}
.vx-tree-folder3 .vx-tree__item__toggle[style="visibility: hidden;"]{
	display: none;
}
.vx-tree-folder3 .vx-tree__item__toggle{
	position:relative;
	width:23px;
	height:100%;
	font-size:0;
	z-index:1;
}
.vx-tree-folder3 .vx-tree__item__toggle:before{
	content: '';
	position: absolute;
	left: 0;
	top: 7px;
	width: 15px;
	height: 15px;
	background-color:rgba(255,0,0,.1);
	/*background: url(../images/icons/m_iicons.png) -600px -90px no-repeat;*/
}
.vx-tree-folder3 .vx-tree__item__toggle.toggle--open:before{
	background-position: -630px -90px;
}
.vx-tree-folder3 .vx-tree__item__label{
	position: relative;
	white-space:nowrap;
	z-index:1;
	font-size:14px;
	font-weight:300;
	letter-spacing:-0.5px;
}

/* vx-tree-list-only */
.vx-tree-list-only{
	border-color:transparent;
	color:#888;
}
.vx-tree-list-only .vx-tree__item{
	padding:0;
	border-bottom:1px solid #ddd;
}
.vx-tree-list-only .vx-level-1{margin-left:15px;}
.vx-tree-list-only .vx-level-2{margin-left:30px;}
.vx-tree-list-only .vx-level-3{margin-left:45px;}
.vx-tree-list-only .vx-level-4{margin-left:60px;}
.vx-tree-list-only .vx-level-5{margin-left:75px;}
.vx-tree-list-only .vx-level-6{margin-left:90px;}
.vx-tree-list-only .vx-level-7{margin-left:105px;}
.vx-tree-list-only .vx-level-8{margin-left:120px;}
.vx-tree-list-only .vx-level-9{margin-left:135px;}
.vx-tree-list-only .vx-level-10{margin-left:150px;}
.vx-tree-list-only .vx-level-11{margin-left:165px;}
.vx-tree-list-only .vx-tree__item:hover{
	background:none;
	color:inherit;
}
.vx-tree-list-only .vx-tree__item[selected],
.vx-tree-list-only .vx-tree__item[active]{
	color:inherit;
}
.vx-tree-list-only .vx-tree__item__toggle{
	position:relative;
	width:22px;
	height:100%;
	font-size:0;
	color:transparent;
}
.vx-tree-list-only .vx-tree__item__toggle:before{
	content:'';
	position:absolute;
	left:0;
	top:8px;
	width:15px;
	height:13px;
	background-color:rgba(255,0,0,.1);
	/*background:url('../images/polymer/ca/icon/set_icons_v2.png') no-repeat -414px -56px;*/
}
.vx-tree-list-only .vx-tree__item__toggle.toggle--open:before{background-position:-389px -56px;}
.vx-tree-list-only .vx-tree__item__label{
	position:relative;
	max-width:100%;
	font-size:13px;
	font-weight:300;
	cursor:default;
}
.vx-tree-list-only .vx-tree__item__label div{
	max-width:100%;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}

/* vx-tree-process */
.vx-tree-process{
	border:1px solid transparent;
	border-bottom:0;
	color:#666;
	font-size:14px;
}
.vx-tree-process .list-content{
	padding:2px 0 1px 0;
	box-sizing:content-box;
}
.vx-tree-process .vx-tree__item{
	max-width:100%;
	padding:0 0 0 22px;
}
.vx-tree-process .vx-tree__item.vx-level-0{padding-left:7px;}
.vx-tree-process .vx-tree__item.vx-level-1{padding-left:36px;}
.vx-tree-process .vx-tree__item.vx-level-2{padding-left:65px;}
.vx-tree-process .vx-tree__item.vx-level-3{padding-left:94px;}
.vx-tree-process .vx-tree__item.vx-level-4{padding-left:123px;}
.vx-tree-process .vx-tree__item.vx-level-5{padding-left:152px;}
.vx-tree-process .vx-tree__item.vx-level-6{padding-left:181px;}
.vx-tree-process .vx-tree__item.vx-level-7{padding-left:210px;}
.vx-tree-process .vx-tree__item.vx-level-8{padding-left:239px;}
.vx-tree-process .vx-tree__item.vx-level-9{padding-left:268px;}
.vx-tree-process .vx-tree__item.vx-level-10{padding-left:297px;}
.vx-tree-process .vx-tree__item.vx-level-11{padding-left:326px;}
.vx-tree-process .vx-tree__item:hover{
	background:transparent;
	color:inherit;
}
.vx-tree-process .vx-tree__item[selected],
.vx-tree-process .vx-tree__item[active]{
	color:#436de5;
}
.vx-tree-process .vx-tree__item:hover{
	z-index:1;
	color:#436de5;
}
.vx-tree-process .vx-tree__item.vx-level-0:before{display:none;}
.vx-tree-process .vx-tree__item.vx-level-1:before{left:14px;}
.vx-tree-process .vx-tree__item.vx-level-2:before{left:43px;}
.vx-tree-process .vx-tree__item.vx-level-3:before{left:72px;}
.vx-tree-process .vx-tree__item.vx-level-4:before{left:101px;}
.vx-tree-process .vx-tree__item.vx-level-5:before{left:130px;}
.vx-tree-process .vx-tree__item.vx-level-6:before{left:159px;}
.vx-tree-process .vx-tree__item.vx-level-7:before{left:188px;}
.vx-tree-process .vx-tree__item.vx-level-8:before{left:217px;}
.vx-tree-process .vx-tree__item.vx-level-9:before{left:246px;}
.vx-tree-process .vx-tree__item.vx-level-10:before{left:275px;}
.vx-tree-process .vx-tree__item.vx-level-11:before{left:304px;}
.vx-tree-process .vx-tree__item__toggle{
	position:relative;
	width:24px;
	height:100%;
	font-size:0;
	z-index:1;
}
.vx-tree-process .vx-tree__item__toggle:before{
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	width:0;
	height:0;
	margin-left:-3px;
	margin-top:-5px;
	border-style:solid;
	border-width:5px 0 5px 5px;
	border-color:transparent transparent transparent #77818d;
	transition:0.2s ease-in-out;
}
.vx-tree-process .vx-tree__item__toggle.toggle--open:before{
	transform: rotate(90deg);
}
.vx-tree-process .vx-tree__item[selected] .vx-tree__item__toggle:before,
.vx-tree-process .vx-tree__item[active] .vx-tree__item__toggle:before{
	border-color:transparent transparent transparent #436de5;
}
.vx-tree-process .vx-tree__item__icon{
	z-index:1;
	position:relative;
	min-width:26px;
	height:100%;
}
.vx-tree-process .vx-leaf .vx-tree__item__icon{
	min-width:22px;
}
.vx-tree-process .folder{
	position:relative;
	display:inline-block;
	width:16px;
	height:100%;
}
.vx-tree-process .vx-leaf .folder{
	width:12px;
}
.vx-tree-process .folder:before{
	content:' ';
	display:block;
	position:absolute;
	left:0;
	top:50%;
	width:100%;
	height:15px;
	margin-top:-7px;
	background-color:rgba(255,0,0,.1);
	/*background:url('../images/polymer/kis/icon/set_icons.png') no-repeat -26px -23px;*/
}
.vx-tree-process .vx-leaf .folder:before{
	background-position:-128px -23px;
}
.vx-tree-process .vx-tree__item__label{
	position:relative;
	z-index:1;
	display:inline-flex;
}
.vx-tree-process .vx-tree__item__label > div{
	display:flex;
	flex:1;
}
.vx-tree-process .remove{
	position:absolute;
	left:-43px;
	top:0;
	display:none;
	width:16px;
	height:100%;
	margin-right:5px;
}
.vx-tree-process .remove:before{
	content:' ';
	display:block;
	position:absolute;
	left:0;
	top:50%;
	width:16px;
	height:16px;
	margin-top:-8px;
	border-radius:100%;
	background-color:#436de5;
}
.vx-tree-process .remove:after{
	content:' ';
	display:block;
	position:absolute;
	left:50%;
	top:50%;
	width:8px;
	height:2px;
	margin-top:-1px;
	margin-left:-4px;
	background-color:#fff;
}
.vx-tree-process .label{
	flex:1;
	display:block;
	/*text-overflow:ellipsis;*/
	white-space:nowrap;
	/*overflow:hidden;*/
	cursor:pointer;
}
.vx-tree-process input[type=text]{
	flex:1;
	display:none;
	width:100%;
	min-width:103px;
	height:21px;
	padding:0 8px;
	border:1px solid #dde0e5;
	border-radius:2px;
	color:#000;
	font-size:12px;
}
.vx-tree-process .vx-tree__item[selected] input[type=text],
.vx-tree-process .vx-tree__item[active] input[type=text]{
	color:#999;
}
.vx-tree-process .input-label{display:none;}

/* edit--mode */
.edit--mode .vx-tree-process .vx-leaf .remove,
.vx-tree-process.edit--mode .vx-leaf .remove{
	display:inline-block;
}
.edit--mode .vx-tree-process .vx-tree__item__label,
.vx-tree-process.edit--mode .vx-tree__item__label{
	padding-right:10px;
}
.edit--mode .vx-tree-process .label,
.vx-tree-process.edit--mode .label{
	display:none;
}
.edit--mode .vx-tree-process input[type=text],
.vx-tree-process.edit--mode input[type=text]{
	display:inline-block;
}
/* vx-tree__item-add */
.vx-tree-process .vx-tree__item.vx-tree__item-add{
	padding-left:35px;
}
.vx-tree-process .vx-tree__item-add .vx-tree__item__toggle{
	display:none;
}
.vx-tree-process .vx-tree__item-add .vx-tree__item__icon{
	min-width:22px;
}
.vx-tree-process .vx-tree__item-add .remove{
	display:inline-block;
}
.vx-tree-process .vx-tree__item-add .folder{
	width:12px;
}
.vx-tree-process .vx-tree__item-add .folder:before{
	background-position:-128px -23px;
}
/* drag */
.vx-tree-process .vx-tree__item.drag-dragging {
	background:#d7dce6;
	right:unset;
	max-width:unset;
}

.vx-tree-process .vx-tree__item.drag-container-enter {
	border: 1px solid transparent;
	border-image: url('../images/common/border/dot-2px.png') 2/2/2px 0 0 round;
	right:unset;
	max-width:unset;
}
.vx-tree-process .vx-tree__indicator {
	display:flex;
	align-items: center;
	width:100%;
	height:2px !important;
	background:#000;
}
.vx-tree-process .vx-tree__indicator:before,
.vx-tree-process .vx-tree__indicator:after {position:absolute; top:-11px; content:'\e924'; font-family:icon; font-size:18px; color:#000;}
.vx-tree-process .vx-tree__indicator:before {left:-10px;}
.vx-tree-process .vx-tree__indicator:after {right:-10px; transform: rotate(180deg);}

/* vx-tree__folder-gray */
.vx-tree__folder-gray{
	border:1px solid transparent;
	border-bottom:0;
	color:#666;
	font-size:14px;
}
.vx-tree__folder-gray .list-content{
	padding:2px 0 1px 0;
	box-sizing:content-box;
	overflow:visible !important;
}
.vx-tree__folder-gray .vx-tree__item{
	max-width:100%;
	padding:0 0 0 22px;
}
.vx-tree__folder-gray .vx-tree__item.vx-level-0{padding-left:7px;}
.vx-tree__folder-gray .vx-tree__item.vx-level-1{padding-left:36px;}
.vx-tree__folder-gray .vx-tree__item.vx-level-2{padding-left:65px;}
.vx-tree__folder-gray .vx-tree__item.vx-level-3{padding-left:94px;}
.vx-tree__folder-gray .vx-tree__item.vx-level-4{padding-left:123px;}
.vx-tree__folder-gray .vx-tree__item.vx-level-5{padding-left:152px;}
.vx-tree__folder-gray .vx-tree__item.vx-level-6{padding-left:181px;}
.vx-tree__folder-gray .vx-tree__item.vx-level-7{padding-left:210px;}
.vx-tree__folder-gray .vx-tree__item.vx-level-8{padding-left:239px;}
.vx-tree__folder-gray .vx-tree__item.vx-level-9{padding-left:268px;}
.vx-tree__folder-gray .vx-tree__item.vx-level-10{padding-left:297px;}
.vx-tree__folder-gray .vx-tree__item.vx-level-11{padding-left:326px;}
.vx-tree__folder-gray .vx-tree__item:hover{
	background:transparent;
	color:inherit;
}
/* .vx-tree__folder-gray .vx-tree__item[active] */
.vx-tree__folder-gray .vx-tree__item[selected]{
	color:#436de5;
}
.vx-tree__folder-gray .vx-tree__item:hover{
	z-index:1;
	color:#436de5;
}
.vx-tree__folder-gray .vx-tree__item.vx-level-0:before{display:none;}
.vx-tree__folder-gray .vx-tree__item.vx-level-1:before{left:14px;}
.vx-tree__folder-gray .vx-tree__item.vx-level-2:before{left:43px;}
.vx-tree__folder-gray .vx-tree__item.vx-level-3:before{left:72px;}
.vx-tree__folder-gray .vx-tree__item.vx-level-4:before{left:101px;}
.vx-tree__folder-gray .vx-tree__item.vx-level-5:before{left:130px;}
.vx-tree__folder-gray .vx-tree__item.vx-level-6:before{left:159px;}
.vx-tree__folder-gray .vx-tree__item.vx-level-7:before{left:188px;}
.vx-tree__folder-gray .vx-tree__item.vx-level-8:before{left:217px;}
.vx-tree__folder-gray .vx-tree__item.vx-level-9:before{left:246px;}
.vx-tree__folder-gray .vx-tree__item.vx-level-10:before{left:275px;}
.vx-tree__folder-gray .vx-tree__item.vx-level-11:before{left:304px;}
.vx-tree__folder-gray .vx-tree__item__toggle{
	position:relative;
	width:24px;
	height:100%;
	font-size:0;
	z-index:1;
}
.vx-tree__folder-gray .vx-tree__item__toggle:before{
	content: '';
	position:absolute;
	left:0;
	top:10px;
	width:16px;
	height:14px;
	background-color:rgba(255,0,0,.1);
	/*background:url('../images/icons/m_icons.png') -331px 0 no-repeat;*/
}
.vx-tree__folder-gray .vx-tree__item__toggle.toggle--open:before {
	background-position: -306px 0;
}
.vx-tree__folder-gray .vx-tree__item__icon{
	display:none;
	z-index:1;
	position:relative;
	min-width:26px;
	height:100%;
}
.vx-tree__folder-gray .vx-tree__item__toggle[style*="visibility: hidden"],
.vx-tree__folder-gray .vx-tree__item__toggle[style*="visibility:hidden"]{
	display:none;
}
.vx-tree__folder-gray .vx-leaf .vx-tree__item__icon{
	display:block;
	min-width:21px;
	/*height:auto;*/
	height:14px;
}
.vx-tree__folder-gray .folder{
	position:relative;
	display:inline-block;
	width:16px;
	height:100%;
}
.vx-tree__folder-gray .folder:before{
	content:' ';
	display:block;
	position:absolute;
	left:0;
	top:50%;
	width:100%;
	height:15px;
	margin-top:-7px;
	background-color:rgba(255,0,0,.1);
	/*background:url('../images/icons/m_icons.png') no-repeat -332px 0;*/
}
.vx-tree__folder-gray .vx-leaf .folder{
	width:11px;
	height:13px;
}
.vx-tree__folder-gray .vx-leaf .folder:before{
	background-position: -310px -628px;
}
.vx-tree__folder-gray .vx-tree__item__label{
	position:relative;
	z-index:1;
	display:inline-flex;
}
.vx-tree__folder-gray .vx-tree__item__label > div{
	display:flex;
	flex:1;
}
.vx-tree__folder-gray .remove{
	position:absolute;
	left:-43px;
	top:0;
	display:none;
	width:16px;
	height:100%;
	margin-right:5px;
}
.vx-tree__folder-gray .remove:before{
	content:' ';
	display:block;
	position:absolute;
	left:0;
	top:50%;
	width:15px;
	height:15px;
	margin-top:-7px;
	border-radius:100%;
	background-color:#ff6060;
}
.vx-tree__folder-gray .remove:after{
	content:' ';
	display:block;
	position:absolute;
	left:50%;
	top:50%;
	width:11px;
	height:1px;
	margin-left:-6px;
	background-color:#fff;
}
.vx-tree__folder-gray .label{
	flex:1;
	display:block;
	/*text-overflow:ellipsis;*/
	white-space:nowrap;
	/*overflow:hidden;*/
	cursor:pointer;
	font-weight:400;
	font-size:13px;
	color:#000;
}
.vx-tree__folder-gray .label.selected{
	color:#0c5fe9;
}
.vx-tree__folder-gray input[type=text]{
	/*flex:1;*/
	display:none;
	/*width:100%;*/
	min-width:103px;
	height:29px;
	padding:0 8px;
	border:1px solid #dde0e5;
	border-radius:3px;
	color:#222;
	font-size:13px;
}
/* .vx-tree__folder-gray .vx-tree__item[active] */
.vx-tree__folder-gray .vx-tree__item[selected]{
	background-color:#ebf2fc;
}
.vx-tree__folder-gray .vx-tree__item[selected] input[type=text],
.vx-tree__folder-gray .vx-tree__item[active] input[type=text]{
	color:#000;
}
.vx-tree__folder-gray .input-label{display:none;}

/* edit--mode */
.edit--mode .vx-tree__folder-gray .vx-leaf .remove,
.vx-tree__folder-gray.edit--mode .vx-leaf .remove{
	display:inline-block;
}
.edit--mode .vx-tree__folder-gray .vx-tree__item__label,
.vx-tree__folder-gray.edit--mode .vx-tree__item__label{
	padding-right:10px;
}
.edit--mode .vx-tree__folder-gray .label,
.vx-tree__folder-gray.edit--mode .label{
	display:none;
}
.edit--mode .vx-tree__folder-gray input[type=text],
.vx-tree__folder-gray.edit--mode input[type=text]{
	display:inline-block;
}
.edit--mode .vx-tree__folder-gray .vx-level-0.vx-leaf,
.vx-tree__folder-gray.edit--mode .vx-level-0.vx-leaf{
	padding-left:22px;
}

/* vx-tree__item-add */
.vx-tree__folder-gray .vx-tree__item.vx-tree__item-add{
	padding-left:35px;
}
.vx-tree__folder-gray .vx-tree__item-add .vx-tree__item__toggle{
	display:none;
}
.vx-tree__folder-gray .vx-tree__item-add .vx-tree__item__icon{
	min-width:22px;
}
.vx-tree__folder-gray .vx-tree__item-add .remove{
	display:inline-block;
}
.vx-tree__folder-gray .vx-tree__item-add .folder{
	width:12px;
}
.vx-tree__folder-gray .vx-tree__item-add .folder:before{
	background-position:-128px -23px;
}

/* drag */
.vx-tree__folder-gray .vx-tree__item.drag-dragging {
	background:#d7dce6;
	right:unset;
	max-width:unset;
}

.vx-tree__folder-gray .vx-tree__item.drag-container-enter {
	border: 1px solid transparent;
	border-image: url('../images/common/border/dot-2px.png') 2/2/2px 0 0 round;
	right:unset;
	max-width:unset;
}
.vx-tree__folder-gray .vx-tree__indicator {
	display:flex;
	align-items: center;
	width:100%;
	height:2px !important;
	background:#000;
}
.vx-tree__folder-gray .vx-tree__indicator:before,
.vx-tree__folder-gray .vx-tree__indicator:after {position:absolute; top:-11px; content:'\e924'; font-family:icon; font-size:18px; color:#000;}
.vx-tree__folder-gray .vx-tree__indicator:before {left:-10px;}
.vx-tree__folder-gray .vx-tree__indicator:after {right:-10px; transform: rotate(180deg);}


.vx-tree__item.drag-mirror {
	position:relative !important;
	right:auto !important;
	width:auto !important;
	padding-left:0 !important; padding-bottom:3px; border:1px solid #000;box-shadow:0 4px 12px rgba(0,0,0,.2); background-color:rgba(255,255,255,.8);
}
.vx-tree__item.drag-mirror .vx-tree__item__toggle,
.vx-tree__item.drag-mirror .vx-tree__item__icon,
.vx-tree__item.drag-mirror .label,
.vx-tree__item.drag-mirror .remove,
.vx-tree__item.drag-mirror input{display:none;}
.vx-tree__item.drag-mirror input {width:auto; border:none; background-color:transparent;}
.vx-tree__item.drag-mirror .input-label{display:block;padding-left:15px;padding-right:15px;color:#666;font-size:14px;white-space:nowrap}