/*-------------------------------------
 *  Vrix Combobox
 *  .vx-combobox{}
 *  .vx-combobox .vx-combobox__control{}
 *  .vx-combobox .vx-combobox__title{}
 *  .vx-combobox .vx-combobox__placeholder{}
 *  .vx-combobox .vx-combobox__dropdown-trigger{}
 *  .vx-combobox__dropdown-list{}
 *  .vx-combobox__dropdown-list .vx-list__item{}
 *  .vx-combobox__dropdown-list .vx-list__item:last-child{}
 *  .vx-list.vx-combobox__dropdown-list{}
 *  .vx-combobox__dropdown-list .vx-list__item{}
 *  .vx-combobox__dropdown-list .vx-list__item:hover{}
 *  .vx-combobox__dropdown-list .vx-list__item[selected]{}
 *  .vx-combobox__dropdown-list .vx-list__item[active]{}
 *  .vx-combobox__dropdown-list .vx-list__item.layout--vertical{}
 *  .vx-combobox__dropdown-list .vx-list__item.layout--horizontal{}
 *  .vx-combobox.display--inline{}
 *  .vx-combobox.display--inline .vx-combobox__control{}
 *-------------------------------------*/
.vx-combobox{
	/*min-width:55px;*/
	min-width:91px;
	height:32px;
	max-width:100%;
	cursor:pointer;

	border: 1px solid #adadb0;
	border-radius: 8px;
}
.vx-combobox[disabled] {opacity:0.4; cursor:default; pointer-events:none;}
.vx-combobox .vx-combobox__control{
	position:relative;
	max-width:inherit;
	width:100%;
	height:100%;
	line-height:32px;
	padding-right:36px;
	flex-wrap:wrap;
}
.vx-combobox__selections,
.vx-combobox__placeholder{
	/* max-width: 100% */  /* ie text-overflow:ellipsis 적용 안되어 width:100%  수정 */
	width:100%
}
.vx-combobox__placeholder,
.vx-combobox__selection{
	display:block;
	padding-left:12px;
	font-size:13px;
	color:#000;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.vx-combobox .vx-combobox__dropdown-trigger{
	position:absolute;
	right:0;
	top:0;
	bottom:0;

	width:36px;
	display:flex;
	align-items:center;
	cursor:auto;
	font-size:0;
	line-height:0;
	color:transparent;
	background:#fff url('../images/svg/chevron-down-24.svg') calc(100% - 12px) 50%/16px no-repeat;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.vx-combobox__dropdown-content{
	transform: translate(-1px, 10px);
	position:absolute !important; /* TODO: IE 버그 해결용 fixed to absolute 변경 */

	background-color: rgba(255, 255, 255, .9);
	border: 1px solid #adadb0;
	box-shadow: 0 4px 20px rgba(0, 0, 0, .1);
	border-radius: 8px;
	/*overflow: hidden;*/
}
.vx-combobox__dropdown-content .list-container{
	/*background-color: inherit;*/
	/*height:inherit;*/
	/*overflow: auto;*/
}
.vx-combobox__dropdown-content .list-content{
	margin-top:-2px; /* TODO: 스크롤 border 2px 버그 관련용 */
}
.vx-combobox__dropdown-content .vx-list__item{
	min-height:40px;
	padding-left:12px;
	padding-right:12px;
	font-size:13px;
	color:#000;
	cursor:pointer;
	border-top:1px solid #e8e8e8;
}
.vx-combobox__dropdown-content .vx-list__item:hover,
.vx-combobox__dropdown-content .vx-list__item[selected]{
	background-color:#fafafa;
}
.vx-combobox__dropdown-content.size--small .vx-list__item{
	font-weight:300;
	font-size:12px;
}
.vx-combobox.inline{
	display: inline-block;
	vertical-align: middle;
}
/*  vx combobox dropdown size */