/*-------------------------------------
 *  VX Date Picker
 *  .vx-date-picker{}
 *  .vx-date-picker__calendar{}
 *  .vx-date-picker__control{}
 *  .vx-date-picker__control-prev{}
 *  .vx-date-picker__control-title{}
 *  .vx-date-picker__control-next{}
 *  .vx-date-picker__control-month-prev{}
 *  .vx-date-picker__control-month-next{}
 *  .vx-date-picker__calendar{}
 *  .vx-date-picker__body{}

 *  VX DateTable
 *  .vx-date-table{}
 *  .vx-date-table--year--day{}
 *  .vx-date-table--year--month{}
 *  .vx-date-table--year--year{}
 *  .vx-date-table .vx-sun{}
 *  .vx-date-table .vx-mon{}
 *  .vx-date-table .vx-tue{}
 *  .vx-date-table .vx-wed{}
 *  .vx-date-table .vx-thu{}
 *  .vx-date-table .vx-fri{}
 *  .vx-date-table .vx-sat{}
 *  .vx-date-table .vx-past{}
 *  .vx-date-table .vx-future{}
 *  .vx-date-table .vx-extra{}
 *  .vx-date-table .vx-present{}
 *  .vx-date-table .vx-disabled{}
 *  .vx-date-table__header{}
 *  .vx-date-table__header-weekday{}
 *  .vx-date-table__body{}
 *  .vx-date-table__item{}
 *  .vx-date-table__item-label{}

 *  VX Date Field
 *  .vx-date-field{}
 *  .vx-date-field__control{}
 *  .vx-date-field__selections{}
 *  .vx-date-field__selection{}
 *  .vx-date-field__dropdown-trigger{}
 *  .vx-date-field__dropdown-content{}
 *-------------------------------------*/
/* reset */
.vx-date-table .vx-extra{color:#888;}
.vx-date-table .vx-extra.vx-future{color:#e0e0e0;}

.vx-date-picker.able--all{}
.vx-date-picker.able--past .vx-past{color:#000;}
.vx-date-picker.able--past .vx-future{color:#aeaeae;}
.vx-date-picker.able--past .vx-date-table__item:hover,
.vx-date-picker.able--past .vx-date-table__item[selected]{color:#fff;}
.vx-date-picker.able--future{}

/* a-input-date */
.a-input-date{
	display:inline-block;
	vertical-align:middle;
	/*width:140px;*/
	height:32px;
	border-color:transparent;
	border-radius: 6px;
}
.a-input-date .vx-date-field__control{
	position: relative;
	display:flex;
	align-items:center;
	padding-left:36px;
	padding-right:12px;
}
.a-input-date .vx-date-field__placeholder,
.a-input-date .vx-date-field__selection{
	/*font-weight: 600;*/
	font-weight: 500;
	font-size:13px;
	line-height:13px;
	color:#646669;
	white-space: nowrap;
}
.a-input-date .vx-date-field__selection{
	color:#000;
}
.a-input-date .vx-date-field__dropdown-trigger{
	position: absolute;
	left:0;
	top:0;
	display:flex;
	align-items:center;
	justify-content:center;
	width:35px;
	height:30px;
	font-size:0;
	color:transparent;
	cursor:pointer;
	background:url('../images/svg/calendar-24.svg') 50% 50%/16px no-repeat;
}
.a-input-date.line{
	border-color:#e8e8e8;
}
.a-input-date.right .vx-date-field__control{
	padding-left:12px;
	padding-right:36px;
}
.a-input-date.right .vx-date-field__dropdown-trigger{
	left:auto;
	right:0;
}
.a-input-date[readonly]{
	pointer-events: none;
}
.a-input-date[disabled]{
	opacity: .4;
	pointer-events: none;
}

.a-input-date-set{
	display:flex;
	align-items:center;
}
.a-input-date-set > .a-input-date{}
.a-input-date-set__label{
	flex:none;
	display:flex;
	align-items:center;
	justify-content:center;
	width:23px;
	font-weight:300;
}
.a-input-date-set__result{
	display:flex;
	align-items:center;
	margin-left:13px;
	font-size:14px;
	font-weight:300;
	color:#005aff;
}
.a-input-date-set__result span + span{
	padding-left:5px;
}

/* a-input-date-clear */
.a-input-date-clear{
	position:relative;
	display:inline-block;
	vertical-align:middle;
}
.a-input-date-clear__del{
	position:absolute;
	right:1px;
	top:1px;
	bottom:1px;
	padding:0 8px;
	line-height:0;
	align-items:center;
	justify-content:center;
	background-color:#fff;
	border-radius:3px;
}
.a-input-date-clear__del.display--show{display:flex;}

/* m-calendar : theme--date-picker-default */
.theme--date-picker-default{
	width:250px;
	/*height:250px;*/
	height:247px;
	margin-top:3px;
	background: rgba(255, 255, 255, 0.95);
	border: 1px solid #adadb0;
	box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	overflow:hidden;
}
.theme--date-picker-default .vx-date-picker__control-title{
	display:flex;
	align-items:center;
	justify-content:center;
	padding-top:0;
	padding-bottom:0;
	color:#000;
	line-height:1;
}
.theme--date-picker-default .vx-date-picker__control{border:0;}
.theme--date-picker-default .vx-date-picker__calendar{border:0;}
.theme--date-picker-default .vx-date-picker__control-prev,
.theme--date-picker-default .vx-date-picker__control-next{
	width:55px;
	height:55px;
	display:flex;
	align-items:center;
	justify-content:center;
	font-size:0;
	color:transparent;
}

.theme--date-picker-default .vx-date-picker__control-prev:before,
.theme--date-picker-default .vx-date-picker__control-next:before{
	content:'';
	display:inline-block;
	width:16px;
	height:16px;
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size:16px;
}
.theme--date-picker-default .vx-date-picker__control-prev:before{
	background-image: url('/resources/images/svg/chevron-left-24.svg');
}
.theme--date-picker-default .vx-date-picker__control-next:before{
	background-image: url('/resources/images/svg/chevron-right-24.svg');
}
.theme--date-picker-default .vx-date-picker__body{
	border:0;
	border-top:1px solid #adadb0;
}
.theme--date-picker-default .vx-date-table__header-weekday{
	height:37px;
	padding-top:8px;
}
.theme--date-picker-default .vx-date-table__header-weekday + .vx-date-table__header-weekday{
	border-left:0;
}
.theme--date-picker-default .vx-date-table__item{
	border:0;
}
.theme--date-picker-default .vx-date-table__item:hover,
.theme--date-picker-default .vx-date-table__item[selected]{
	color:#fff;
	background-color:transparent;
}
.theme--date-picker-default .vx-date-table__item:hover:before,
.theme--date-picker-default .vx-date-table__item[selected]:before{
	content:'';
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:-1;
	background-color:#1781f4;
	border-radius:3px;
	pointer-events:none;
}


