/*-------------------------------------
 *  Vrix Auto Complete
 *  .m-auto-complete{}
 *  .m-auto-complete .auto-complete{}
 *  .m-auto-complete .input-container{}
 *  .m-auto-complete .input-control{}
 *  .m-auto-complete .control__input{}
 *  .m-auto-complete .control__clear{}
 *  .m-auto-complete .control__clear .btn-search{}
 *  .m-auto-complete .control__clear .btn-cancel{}
 *  .m-auto-complete .control__clear .btn-search .m-i-search{}
 *  .m-auto-complete .control__clear .btn-search .m-i-close{}
 *
 *  .vx-auto-complete .suggest-list{}
 *  .vx-auto-complete .list-container{}
 *  .vx-auto-complete .list-content{}
 *  .vx-auto-complete .suggest-item{}
 *  .vx-auto-complete .vx-suggest__item{}
 *  .vx-auto-complete .vx-suggest__item .name{}
 *  .vx-auto-complete .vx-suggest__item .team{}
 *  .vx-auto-complete .vx-suggest__item .part{}
 *  .vx-auto-complete .suggest-item__highlight{}
 *-------------------------------------*/
/* reset */
.vx-auto-complete .control__clear{
    padding-top:1px;
    padding-bottom:1px;
}
.vx-auto-complete .control__clear .btn-search{
    height:100%;
}
.vx-auto-complete .vx-suggest__item[selected],
.vx-auto-complete .vx-suggest__item[active]{
    background-color:rgba(0,0,0,.05);
}

/* m-auto-complete */
.m-auto-complete .control__input{
    height:35px;
    padding-left:15px;
    padding-right:43px;
    border-radius:3px;
    color:#222;
    line-height:33px;
    font-size:15px;
    font-weight:400;
}
.m-auto-complete .control__input:-ms-input-placeholder{ color:rgba(34,34,34,.5);}
.m-auto-complete .control__input::-webkit-input-placeholder{ color:rgba(34,34,34,.5);}
.m-auto-complete .control__input::-moz-placeholder{ color:rgba(34,34,34,.5);}
.m-auto-complete .control__input::placeholder{ color:rgba(34,34,34,.5);}
.m-auto-complete .control__clear{
    position:absolute;
    right:1px;
    top:1px;
    bottom:1px;
    display:flex;
    align-items:center;
    justify-content:center;
    width:37px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
}
.m-auto-complete .control__clear button{
    display:flex;
    align-items:center;
    justify-content:center;
}
.m-auto-complete .control__clear .m-i-search,
.m-auto-complete .control__clear .m-i-close{
    display:inline-block;
    vertical-align:middle;
    width:15px;
    height:15px;
    background-color:rgba(255,0,0,.1);
    /*background:url('../images/icons/m_iicons.png') 0 0 no-repeat;*/
}
.m-auto-complete .control__clear .m-i-search:before,
.m-auto-complete .control__clear .m-i-close:before{content:'';font-size:0;}
.m-auto-complete .control__clear .m-i-search{opacity:.6;}
.m-auto-complete .control__clear .m-i-close{background-position: -240px -60px;opacity:.4;}

/* Clear Type */
.m-auto-complete.theme--auto-clear .control__input{
    border-color:transparent;
}
.m-auto-complete.theme--auto-clear .control__input:focus,
.m-auto-complete.theme--auto-clear .control__input:hover{border-color:#0c5fe9;}
.m-auto-complete.theme--auto-clear .control__input[readonly],
.m-auto-complete.theme--auto-clear .control__input[readonly]:focus,
.m-auto-complete.theme--auto-clear .control__input[disabled]{
    border-color:transparent;
}

/* TODO : 테마 적용 필요, 리스트 높이 33px 로 조정 */
.vx-auto-complete .suggest-list{
    border-radius:3px;
    box-shadow:0 4px 12px rgba(0,0,0,.2);
}
.vx-auto-complete .vx-suggest__item{
    padding-left:5px;
    padding-right:12px;
}
.vx-auto-complete .vx-suggest__item > span{
    margin-left:10px;
    font-weight:300;
    font-size:13px;
}
.vx-auto-complete .vx-suggest__item > .name{overflow:inherit;}
